:root {
  --animal-picture-size:50px;
  --profile-picture-width:38px; 
  --search-width:254px;
  --theme-color-main:#1972B2;
}
* {
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
}

h1{
  font-weight:normal;
  font-size:20px;
  line-height: 30px;
}

/*BODY IS TOO TALL*/
html,body {
  height:100vh;
}


.page-container {
  height:100vh;
  width:inherit;
}

main{
  width:inherit;
  height:auto;  /* When few elements, will render short */
  display:flex;
  flex-grow:1;
}

header {
  position:relative;
  display:flex;
  justify-content:center;
  padding:46px 0px 43px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-picture{
  margin:16px 8px 17px 17px;
  border-radius:50px;
  width:var(--profile-picture-width);
}

.profile-picture#personal {
  position:absolute;
  right:64px;
  top:28px;
}

.inbox {    /* whole left column */
  color:white;
/*  display: flex;*/
/*  flex-direction: column;*/
  min-height:inherit;
  width:334px;
  background-color:var(--theme-color-main);
  margin-right:4.5vw;
}

.inbox__top-container {    /* top box in column */
  width:inherit;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.inbox__top-elements{
  margin:39px 44px 7px 46px;
}

.inbox__titlebox {
  width:inherit;
  display:flex;
  justify-content:center;
  margin-bottom:11px;
}

.inbox__title {    
  margin-right:auto;
}
.inbox__notifications {
  margin-left:auto;
}

.inbox__search {
  height:26px;
  width:var(--search-width);
  border-radius:60px;
  border-style:none;
}

.inbox__selectors {
  width:inherit;
  margin-top:47px;
  display:flex;
  justify-items:flex-start;
}

.inbox__selectors *{
  padding-right:15px;
  justify-self: flex-start;
  color:white;
  text-decoration:none;
}


.inbox__listings{
  height: 70vh;   /* must explicitly state height for scroll????*/
  display:flex;
  flex-direction: column;
  overflow-y:scroll;
}

.message{     /* border-bottom:none so they don't double up */
  display:flex;
  border:1px solid white;
  border-left:none;
  border-right:none;
  border-bottom:none;
}

.inbox__listings:last-child{ /*last child will always have a bottom border*/
  border-bottom:1px solid white; 
}

.message-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
}


.message__details{
  color: #C4C4C4;
  font-size:15px;
}

.message__body{
  overflow: hidden;
}

.central-section{
  height:inherit;
  flex-grow:1;
  display:flex;
  flex-direction:column;
}
nav{   /* must take up rest of width*/
  position:sticky;
  height:99px;
  width:100%;
  display:flex;
  padding-top:39px;
}


.nav__groups{
  font-size:20px;
  line-height:30px;
  color:#1972B2;
  text-decoration:none;
  margin-right:41px;
  white-space: nowrap;
}


.extra-controls{
  margin-left:auto;
  display:flex;
  margin-right:37px;
}

#filter{
  text-decoration: none;
  font-size:16px;
  color:#696969;
  margin-top:27px;
  margin-right:4.5vw;
  white-space: nowrap;
}

#add-pet{
  color:#1972B2;
  font-size:51px
}

.pets{ /* all pet*/
  display:flex;
  flex-direction: column;
}


.pet__group{ /* cats/dogs/etc*/
  display:flex;
  flex-direction: column;
  margin-bottom:50px;
}

.pet__title{  
  margin-bottom:17px;
}

.pet__gallery-row{ /*row of profiles*/
  display:flex;
  flex-wrap:wrap;
}

.pet__profile{ /*each pet*/
  display:flex;
  flex-direction: column;
  align-items:center;
  margin-right:20px;
}

.pet__picture{
  width:90px;
  border-radius:50%;
  margin-bottom:6px;
}

